<ion-header>
  <ion-toolbar color="success">
    <ion-title>New Requset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label color="primary">Policy Requests</ion-label>
    <ion-card color="light" (click)="go()">
            
      <ion-item  class="ion-activated">
        <ion-icon name="document" slot="start"></ion-icon>
        <ion-card-title>Requset1</ion-card-title>
      </ion-item>
        <ion-card-content>
            Description about requested insurances
        </ion-card-content>
     
      </ion-card>
      <ion-card color="light" (click)="go()">
            
          <ion-item  class="ion-activated">
            <ion-icon name="document" slot="start"></ion-icon>
            <ion-card-title>Requset2</ion-card-title>
          </ion-item>
            <ion-card-content>
                Description about requested insurances
            </ion-card-content>
         
          </ion-card>
      <ion-label color="primary">Claims Requests</ion-label>
      <ion-card color="light" (click)="forum()">
            
          <ion-item  class="ion-activated">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-card-title>Requset1</ion-card-title>
          </ion-item>
            <ion-card-content>
                Description about requested insurances
             
            </ion-card-content>
         
          </ion-card>
  </ion-content>