<ion-header>
    <ion-toolbar color="success">
            <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
      <ion-title>RateUser</ion-title>
    </ion-toolbar>
</ion-header>


<body>
    <div class="d1">
        <button  expand="block" color="secondary" shape="round" (click)="submit()" >Submit</button>
    </div>
    <div class="rating">
    
        <input type="radio" (click)="Onclick()" name="star" id="star1"><label for="star1"></label>
        <input type="radio" (click)="Onclick()" name="star" id="star2"><label for="star2"></label>
        <input type="radio" (click)="Onclick()" name="star" id="star3"><label for="star3"></label>
        <input type="radio" (click)="Onclick()" name="star" id="star4"><label for="star4"></label>
        <input type="radio" (click)="Onclick()" name="star" id="star5"><label for="star5"></label>
       <br>
       
    
    </div>
    
</body>
