<ion-header>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-card >
    <ion-title>Discussions</ion-title>
      <ion-item>
        <ion-input type="text" placeholder="Issues"  [(ngModel)]="Issues" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="text" placeholder="Suggestions" [(ngModel)]="Suggestions" ></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" class="no-padding"  (click)="submit()" color="success">Submit</ion-button>
  </ion-card> 

  
  
    <ion-card color="light" (click)="go()" *ngFor="let d of data">  
        <ion-item  class="ion-activated">
           <ion-card-title>forum-{{d.id}}</ion-card-title>
        </ion-item>
          <ion-card-content >
             <p>Issue:- {{d.issues}}</p> 
              <p>Answer:-{{d.answers}}</p> 
            
          </ion-card-content>
          <ion-button shape="round" color="medium">{{d.status}}</ion-button>
      </ion-card>
     
   
</ion-content>
