<ion-header>
  <ion-toolbar  color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>organization_verification</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngFor="let d of data">

    <ion-item >
      <ion-label ><strong>NIC :</strong>{{d.NIC}}</ion-label>
    
    </ion-item>
    <ion-item >
      <ion-label ><strong>Policy Number :</strong>{{d.policy_number}}</ion-label>
      
    </ion-item>
    <ion-item >
        <ion-label ><strong>Type Of Loss:</strong>{{d.type_of_loss}}</ion-label>
       
      </ion-item>
      <ion-item >
          <ion-label ><strong>Loss amount:</strong>{{d.loss_amount}}</ion-label>
         
        </ion-item>
    <ion-item >
      <ion-label><strong>Incident Date :</strong>{{d.incident_date| date: 'yyyy/MM/dd'}}</ion-label>
     
    </ion-item>
   
    <ion-item>
      <ion-button (click)="location()">Viewland</ion-button>
    </ion-item>
    <ion-item >
    <ion-label>Verification</ion-label>
    <ion-select  [(ngModel)]="verifi">
        <ion-select-option>True</ion-select-option>
        <ion-select-option>False</ion-select-option>
    </ion-select>
    <ion-button (click)="submit()">submit</ion-button>
    
  </ion-item>
  <div *ngIf="hide">
      <ion-item>
          <ion-label >Enter issue</ion-label>
        <ion-input type="text" [(ngModel)]="issue" ></ion-input>
      </ion-item>
  </div>
  <ion-button (click)="onClick()">confirm</ion-button>
</ion-content>
