<ion-header>
    <ion-toolbar color="success">
      <ion-title>New Requests</ion-title>
    </ion-toolbar>
    <div padding>
      <ion-segment [(ngModel)]="request">
          <ion-segment-button value="policy">
               Policy
          </ion-segment-button>
          <ion-segment-button value="claim">
              Claim
          </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>
  
  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
        
      <div [ngSwitch]="request">
        <ion-list *ngSwitchCase="'policy'">
          <ion-label color="primary">Policy Requests</ion-label>
              <ion-card color="light" (click)="go()" *ngFor="let d of data">
                <!-- <ion-item  class="ion-activated"> -->
                  <ion-icon name="document" slot="start"></ion-icon>
                  <ion-card-title>Policy Number:{{d.id}}</ion-card-title>
                <!-- </ion-item> -->
              <ion-card-content>
                {{d.Name}}
              </ion-card-content>
          <ion-button class="btn" shape="round"  class="no-padding" (click)="view($event)" id="{{d.id}}" >View</ion-button>
              </ion-card>
        </ion-list>
      </div>
      <div [ngSwitch]="request">
          <ion-list *ngSwitchCase="'claim'">
              <ion-label color="primary">Claim Requests</ion-label>
              <ion-card color="light" (click)="go()" *ngFor="let d1 of data1">
                  <!-- <ion-item  class="ion-activated"> -->
                    <ion-icon name="document" slot="start"></ion-icon>
                    <ion-card-title>Claim Number:{{d1.id}}</ion-card-title>
                  <!-- </ion-item> -->
                <ion-card-content>
                 Damage type: {{d1.type_of_loss}}
                </ion-card-content>
            <ion-button class="btn" shape="round"  class="no-padding" (click)="view1($event)" id="{{d1.id}}" >View</ion-button>
                </ion-card>
          </ion-list>
      </div>
    </ion-content>