<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Discussion</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-card color="light" (click)="go()" *ngFor="let d of data">  
        <ion-item  class="ion-activated">
           <ion-card-title>forum-{{d.id}}</ion-card-title>
        </ion-item>
          <ion-card-content >
             <p>Issue:- {{d.issues}}</p> 
              <p>Suggestions:-{{d.suggestions}}</p> 
             
          </ion-card-content>
          <ion-button shape="round" (click)="Click($event)" id="{{d.id}}" color="medium">Click</ion-button>
      </ion-card>
    <div *ngIf="hide">
      <ion-card>
          <strong>Reply section</strong> 
          <ion-input placeholder="Reply" [(ngModel)]="answer"></ion-input>
          <ion-button shape="round" (click)="submit()" color="medium">submit</ion-button>
      </ion-card>
            
    </div>
</ion-content>
