<ion-header>
  <ion-toolbar>
      <ion-header no-border>
      <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>insurance Compnaies</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      </ion-toolbar>
    <ion-item>
    </ion-item>
    <ion-button expand="full" class="no-padding" (click)="tryLogin1()" color="success">AAIB</ion-button>
    <ion-button expand="full" class="no-padding" (click)="tryLogin2()" color="success">SANASA</ion-button>

</ion-header>

<ion-content>

</ion-content>
