<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <ion-title>insurance Companies</ion-title> 
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card color="light" *ngFor="let i of data" (click)="go()">
          
    <ion-item  class="ion-activated">
        <div class="vertical-center"> <div class="center"> <ion-img src="/assets/icon/{{i.image}}" style="height: 100px;width: 100px;"> </ion-img> </div> </div>
      <ion-card-title >{{i.name}}</ion-card-title>
    </ion-item>
      <ion-card-content >
        
          <h2>{{i.description}} </h2>
       <!-- We provides insurance on</h2>
       <ul >
         <li>agricultural and horticultural crops</li>
         <li>agricultural equipment</li>
         <li>livestock</li>
         <li>for the storage and preservation of produce</li>
         <li>farmer's pension</li>
         <li>Accident</li>
       </ul>  -->
       
          <ul >
          <li>{{i.types}}</li>
          </ul> 
      
      </ion-card-content>
      <ion-button shape="round"  class="no-padding" (click)="tryLogin1($event)" id="{{i.id}}" color="secondary">
          <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
              <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
              </ion-refresher-content>
            </ion-refresher>
        More Info</ion-button>
    </ion-card>

   
    <!----<ion-card color="light" (click)="go()">
          
        <ion-item  class="ion-activated">
            <div class="vertical-center"> <div class="center"> <ion-img src="/assets/icon/sanasa.jpg" style="height: 80px;width: 100px;"> </ion-img> </div> </div>
          <ion-card-title >Sanasa</ion-card-title>
        </ion-item>
          <ion-card-content >
             
                  <h2>We mainly cover </h2>
                  <ul >
                      <li>indemnity policy which is a general crop insurance that encompasses 35 different agri crops</li>
                      <li> general weather index policy</li>
                      <li>livestock policy to cattle and goats</li>
                      
                    </ul>  
              
            <h2>We offering currently covers approximately 10,000 farmers in the country and we offer mainly</h2>
                  <ul>
                  <li>Weather index based insurance</li>
                  <li>Indemnity based comprehensive crop insurance</li>

                  </ul>
          </ion-card-content>
          <ion-button shape="round"  class="no-padding" (click)="tryLogin1($event)" id="1" color="secondary">
              <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                  <ion-refresher-content
                    pullingIcon="chevron-down-circle-outline"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Refreshing...">
                  </ion-refresher-content>
                  </ion-refresher>
            More Info</ion-button>
        </ion-card>--->
    
</ion-content>
