ion-slide{
    height:100vh;
    flex-direction:column;
}
ion-img{
    max-width:100vw;
    max-height:100vh;
    overflow:hidden;
}
.slide-one{
    background:#fff;
    color:#333;
    
}
.slide-two{
    background:white;
    color:blue;

}
   