<ion-header>
    <ion-toolbar color="success">
      <ion-title>History</ion-title>
    </ion-toolbar>
  </ion-header>
  
   <ion-content>
  <ion-card color="light"  *ngFor="let d of data" >
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-card-title>Farmer-{{d.Name}}<br>
        NIC-{{d.NIC}} </ion-card-title>
      </ion-item>
        <ion-card-content>
        Tap to view details
       
        </ion-card-content>
        <ion-button shape="round"  class="no-padding" (click)="go($event)" id="{{d.NIC}}" color="secondary">
            More Info</ion-button>
  </ion-card>
  
      <!-- <ion-card>
          <ion-item>
            <ion-icon name="star-half" slot="start"></ion-icon>
            <ion-card-title>Ratings</ion-card-title>
          </ion-item>
        
          <ion-card-content>
            rate of user
          </ion-card-content>
        </ion-card> -->
      </ion-content> 