<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Indemnity based comprehensive <br>
      crop insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>That crop insurance cover against total or partial crop loss due to</h2>
  <ul>
    <li>Flood</li>
    <li>Drought</li>
    <li>Excess water</li>
    <li>Plant disease</li>
    <li>Pest damage</li>
    <li>Damage by wild animal</li>
    <li>Other natural perils(storm effect, earthquake, natural disaster or arson)</li>
  </ul>
  <p>The coverage starts on the date of planting until getting harvest of the crop</p>
  <p>The insurance coverage and the premiums in crop insurance depend on the risk level</p>
  <p>Claims wii be decided n field assessment by claim committee</p>
</ion-content>
