<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <h3 class="h">{{datastorage3}}</h3>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  <!----<h2>That crop insurance cover against total or partial crop loss due to</h2>
  <ul>
    <li>Flood</li>
    <li>Drought</li>
    <li>Excess water</li>
    <li>Plant disease</li>
    <li>Pest damage</li>
    <li>Damage by wild animal</li>
    <li>Other natural perils(storm effect, earthquake, natural disaster or arson)</li>
  </ul>
  <p>The coverage starts on the date of planting until getting harvest of the crop</p>
  <p>The insurance coverage and the premiums in crop insurance depend on the risk level</p>
  <p>Claims wii be decided n field assessment by claim committee</p>-->
  <div class="cl1">
      <h2>{{datastorage1}}</h2>
  <ul *ngFor="let r of nameArr">
    <li>{{r}}</li>
  </ul>
  <div *ngIf="hide">
      <h3>In optional insurances we cover</h3>
      <ul *ngFor="let i of data">
          <li>{{i.risk_type}}</li>

      </ul>
  </div> 
  </div>
  <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide >
      <ion-card class="c1">
        <ion-card-title>
            <strong>Value of acre<br></strong></ion-card-title>
            <ion-item *ngFor="let d of data1">
              <ion-label>{{d.name}}:{{d.claim_value_for_Acre}}</ion-label>
          </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide >
        <ion-card class="c1">
            <ion-card-title>
                <strong>Premium Rate of acre<br></strong></ion-card-title>
                <ion-item *ngFor="let d of data1">
                  <ion-label>{{d.name}}:{{d.rate}}</ion-label>
              </ion-item>
          </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
