<ion-header>
    <ion-toolbar color="success">
      <ion-title>Policy details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <!-- <ion-item>
        <ion-button expand="full" class="no-padding"   color="success">Update Policy</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" class="no-padding"  color="success">Add Policy</ion-button>
          </ion-item>
          <ion-item>
            <ion-button expand="full" class="no-padding"   color="success">Delete Policy</ion-button>
            </ion-item> -->
            <ion-item></ion-item>
           
            <table style="width:100%" border="1"  *ngFor="let d of data">
                
                <tr>
                    <th>Policy name</th>
                    <th></th>
                    <th></th>
                  </tr>
              <tr>
                  <td>{{d.Name}}</td>
                  <td> <ion-button expand="small" class="no-padding" (click)="update()"  color="success">Update</ion-button></td>
                  <td> <ion-button expand="small" class="no-padding"  color="success">Delete</ion-button></td>
                </tr>
                
               
              </table>
              <ion-button expand="small" class="no-padding"  color="success">Add Policy</ion-button>
  </ion-content>