<ion-header>
    <ion-toolbar color="success">
      <ion-title>Policy details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
      <!-- <ion-item>
        <ion-button expand="full" class="no-padding"   color="success">Update Policy</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" class="no-padding"  color="success">Add Policy</ion-button>
          </ion-item>
          <ion-item>
            <ion-button expand="full" class="no-padding"   color="success">Delete Policy</ion-button>
            </ion-item> -->
           
            
<!--            
            <table style="width:100%" border="1"  *ngFor="let d of data">
                
                <tr>
                    <th>Policy name</th>
                    <th></th>
                    <th></th>
                  </tr>
              <tr>
                  <td>{{d.Name}}</td>
                  <td> <ion-button expand="small" class="no-padding" (click)="update()"  color="success">Update</ion-button></td>
                  <td> <ion-button expand="small" class="no-padding"  color="success">Delete</ion-button></td>
                </tr>
                
               
              </table> -->
              <ion-card  *ngFor="let d of data"> 
                <strong>{{d.Name}}</strong>
                <ion-row>
                    <ion-col><ion-button expand="small" class="no-padding"  id="{{d.id}}" (click)="update($event)"  color="success" fill="clear">Update<ion-icon size="large"  name="sync-circle" color="success"></ion-icon></ion-button></ion-col> 
                    <ion-col><ion-button expand="small" class="no-padding"  id="{{d.id}}" (click)="delete($event)"  color="success" fill="clear"><ion-icon size="large" name="trash" color="success"></ion-icon></ion-button></ion-col> 
                   
                </ion-row>
              </ion-card>
              <ion-button expand="small" class="no-padding" (click)="add()" color="success" fill="clear">Add Policy<ion-icon size="large" name="add-circle" color="success"></ion-icon>
              </ion-button>
  </ion-content>