<ion-header no-border>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Login for Officer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card class="card">
      <div class="vertical-center"> <div class="center"> <ion-img src="/assets/icon/person.png" style="height: 100px;width: 100px;" class="ion-align-self-end"></ion-img> </div> </div>
  <ion-list>
    <div >
      <ion-item>
          <ion-icon name="person" color="success"></ion-icon>
          <ion-input type="text" placeholder=" Username" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
          <ion-icon name="lock-closed" color="success"></ion-icon>
          <ion-input type="password" placeholder=" Password" [(ngModel)]="Password"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Position</ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_value" (ionChange)="Getselected(selected_value)" >
          <ion-select-option value="f">Farmer</ion-select-option>
          <ion-select-option value="m">Insurance Company</ion-select-option>
        </ion-select>
      </ion-item> -->
    
      <ion-button expand="full" class="no-padding" (click)="tryLogin()" color="success">Login</ion-button>
    </div>
      
    </ion-list>
  </ion-card>

</ion-content>
