<ion-header no-border>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <!-- <ion-title>Login as Officer</ion-title> -->
    <ion-buttons slot="start" >
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
        <ion-button>Log in</ion-button>
       </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div id="header">
      <h1>Login</h1>
  
  
      <div class="vertical-center"> <div class="center"> <ion-img src="/assets/icon/per.jpg" style="height: 100px;width: 100px;" class="ion-align-self-end"></ion-img> </div> </div>
 
    </div> 
    <div class="card">
      <ion-item class="ion-margin-bottom">
          <ion-icon name="person" color="success"></ion-icon>
          <ion-input type="text" placeholder=" Username" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
          <ion-icon name="lock-closed" color="success"></ion-icon>
          <ion-input type="password" placeholder=" Password" [(ngModel)]="Password"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Position</ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_value" (ionChange)="Getselected(selected_value)" >
          <ion-select-option value="f">Farmer</ion-select-option>
          <ion-select-option value="m">Insurance Company</ion-select-option>
        </ion-select>
      </ion-item> -->
    
      <ion-button expand="block"  shape="round" class="no-padding" (click)="tryLogin()" color="success">Login</ion-button>
  
      
    
  </div>

</ion-content>
