<ion-header>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Company claim verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let d of data">
    <div id="header"><h1>Claim details</h1></div>
    <ion-card class="d1">
      <ion-row>
        <ion-col>
            NIC
        </ion-col>
        <ion-col>
            {{d.NIC}}
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              Policy Number
          </ion-col>
          <ion-col>
              {{d.policy_number}}
          </ion-col>
      </ion-row>
      <ion-row>
            <ion-col>
                Incident Date
            </ion-col>
            <ion-col>
                {{d.incident_date| date: 'yyyy/MM/dd'}}
            </ion-col>
      </ion-row>
      <ion-row>
            <ion-col>
                Type of Loss
            </ion-col>
            <ion-col>
                {{d.type_of_loss}}
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              Loss Amount
          </ion-col>
          <ion-col>
              {{d.loss_amount}}
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            Phone
        </ion-col>
        <ion-col>
            {{d.phone}}
    </ion-col>
    </ion-row> 
    <ion-row>
        <ion-col>
          Bank name
        </ion-col>
        <ion-col>
          {{d.bank_name}}
      </ion-col>
    </ion-row> 
    <ion-row>
        <ion-col>
          Branch
        </ion-col>
        <ion-col>
          {{d.branch}}
        </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
          Loan Number
      </ion-col>
      <ion-col>
          {{d.loan_number}}
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
          Organization Verification
      </ion-col>
      <ion-col>
          {{verifi}}
  </ion-col>
  </ion-row>               
    </ion-card>

    <ion-item class="ion-margin-bottom">
        <ion-label>Farmer Profile</ion-label>
        <ion-button (click)="farmerProfile()">View farmer Profile</ion-button> 
     </ion-item>
   
    <ion-item class="ion-margin-bottom">
      <ion-label >Upload Photos</ion-label>
      <ion-button (click)="viewPhoto()">ViewlPhoto</ion-button>
      
    </ion-item>
    <div *ngIf="hide1">
        <ion-img src="{{d.image}}"></ion-img>
    </div>
    <ion-item class="ion-margin-bottom">
      <ion-label>Location</ion-label>
      <ion-button (click)="location()">Viewland</ion-button>
    </ion-item>
   <ion-card>
    <ion-item >
    <ion-label>Verification</ion-label>
    <ion-select  [(ngModel)]="verification">
        <ion-select-option>Accept</ion-select-option>
        <ion-select-option>Reject</ion-select-option>
    </ion-select>
    <ion-button (click)="view()">Submit</ion-button>
  </ion-item>
  <div *ngIf="hide">
      <ion-item>
          <ion-label ><strong>Enter Reason:</strong></ion-label>
        <ion-input type="text" [(ngModel)]="issue" ></ion-input>
      </ion-item>
    </div>
  </ion-card>
  <ion-button expand="block" color="success" shape="round" (click)="submit()">confirm</ion-button>
  </ion-content>
  