<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Update Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Policy Name</ion-label>
        <ion-input type="text" placeholder="Policy-1" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Crops</ion-label>
      <ion-input type="text" placeholder="Paddy,BigOnion,Mazie,Patato" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Value of acre(Paddy)</ion-label>
      <ion-input type="text" placeholder="50000" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Value of acre(BigOnion)</ion-label>
      <ion-input type="text" placeholder="50000" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Value of acre(Mazie)</ion-label>
      <ion-input type="text" placeholder="100000" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Value of acre(Patato)</ion-label>
      <ion-input type="text" placeholder="100000" ></ion-input>
    </ion-item>
    <ion-button expand="small" class="no-padding"  color="success">Update</ion-button>
</ion-content>
