<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Update Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-item *ngFor="let d of data">
        <ion-label>Value of acre({{d.name}})</ion-label>
      <ion-input type="text" [(ngModel)]="d.claim_value_for_Acre" ></ion-input>
    </ion-item>
    <div *ngIf="hide">
    <ion-item *ngFor="let d1 of data">
      <ion-label>Premium Rate({{d1.name}})</ion-label>
    <ion-input type="text" [(ngModel)]="d1.rate" ></ion-input>
  </ion-item>
</div>
    <ion-button expand="small" class="no-padding"  (click)="update()" color="success">Update</ion-button>
</ion-content>
