<ion-header>
  <ion-toolbar color="success">
    <ion-title>Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
      
            <div class="vertical-center"> 
              <div class="center"> 
                <ion-img src="/assets/icon/man.png" style="height: 100px;width: 100px;" class="ion-align-self-end"></ion-img> 
            </div> 
          </div>
        
      
        <ion-card-content color="light">
          <ion-row>
            <!-- <ion-img src="/assets/icon/star1.png"  style="height: 40px;width: 40px;" ></ion-img>
            <ion-img src="/assets/icon/star2.png"  style="height: 40px;width: 40px;" ></ion-img>
            <ion-img src="/assets/icon/star2.png"  style="height: 40px;width: 40px;" ></ion-img>
            <ion-img src="/assets/icon/star2.png"  style="height: 40px;width: 40px;" ></ion-img>
            <ion-img src="/assets/icon/star2.png"  style="height: 40px;width: 40px;" ></ion-img> -->
            <ion-img src="{{pic}}"  style="height: 300;width: 300;" ></ion-img>
          </ion-row>
        <ion-row>
          <ion-item class="pla">
          <ion-label><strong>Name  :</strong>    </ion-label>
          <ion-input   [(ngModel)]="data.Name"></ion-input>
        </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
          <ion-label><strong>Telephone :</strong> </ion-label>
          <ion-input type="text"  [(ngModel)]="data.Phone"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
              <ion-item>
              <ion-label><strong>Address  : </strong> </ion-label>
              <ion-input type="text"  [(ngModel)]="data.Address"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
                <ion-button   class="no-padding" (click)="update()"  color="secondary">
                    Update</ion-button>
    
                <ion-button class="no-padding" (click)="processLogout()"  color="light">
                        SignOut</ion-button> 
            </ion-row>
            
        </ion-card-content>
      </ion-card>
      
  
         
      <ion-card *ngFor="let d of val">
          <ion-item>
            <ion-icon name="albums" slot="start"></ion-icon>
            <ion-card-title>Policy Number-{{d.id}}</ion-card-title>
          </ion-item>
        
          <ion-card-content>
            {{d.Name}}({{d.name}})
          </ion-card-content>
          <img [src]="d.documents" />
          <ion-button shape="round" color="tertiary">{{d.status}}</ion-button>
        </ion-card>
       
        <!-- <ion-card>
            <ion-item>
              <ion-icon name="star-half" slot="start"></ion-icon>
              <ion-card-title>Ratings</ion-card-title>
            </ion-item>
          
            <ion-card-content>
              ratings of user
            </ion-card-content>
          </ion-card> -->
</ion-content>
