<ion-header>
  <ion-toolbar color="success">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-card-title>User details</ion-card-title>
        </ion-item>
      
        <ion-card-content>
         Name,Address
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-icon name="albums" slot="start"></ion-icon>
            <ion-card-title>History</ion-card-title>
          </ion-item>
        
          <ion-card-content>
            history of payment

          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="star-half" slot="start"></ion-icon>
              <ion-card-title>Ratings</ion-card-title>
            </ion-item>
          
            <ion-card-content>
              ratings of user
            </ion-card-content>
          </ion-card>
</ion-content>
