.vertical-center{
    justify-content: center;
    align-items: center;
    display: flex;
}
::placeholder{
    color:red;
    opacity: 1;
}
.btn{
    align-items: center;
}
.btn1{
    margin-top:35px;
    height:35px;
    font-size:18px;
    text-transform:initial;
    border-radius:50px;
    box-shadow:1px 8px 8px 8px 0px rgba(0,0,0,0.05);
    --box-shadow:none;
 }
 .center{
    text-align: center;
}