<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <ion-row>
          <!-- <ion-button shape="round" size="small" >crop</ion-button>
          <ion-button shape="round" size="small" >livestock</ion-button> -->
         
      </ion-row>
      <ion-title>Add Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-item>
    <ion-label>Insurance type</ion-label>
    <ion-select interface="popover" [(ngModel)]="selected_value"  >
      <ion-select-option value="p">Indemnity based Comprehensive Crop insurance</ion-select-option>
      <ion-select-option value="b">Weather Index Based Inusrance</ion-select-option>
     
    </ion-select>
  </ion-item>-->
  
  <ion-card>
   <ion-item>

      <ion-label>Crop type</ion-label>
      <ion-select interface="popover" [(ngModel)]="crop"  >
        <ion-select-option >Paddy</ion-select-option>
        <ion-select-option >Big Onion</ion-select-option>
        <ion-select-option >Maize</ion-select-option>
        <ion-select-option >Potato</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
    
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" min="2020" max="2030" [(ngModel)]="Start_date"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" min="2020" max="2030" [(ngModel)]="End_date" ></ion-datetime>
  </ion-item>
  <div *ngIf="hideMe">
  <ion-item>
    <ion-label>optional policy for</ion-label>
    <ion-select interface="popover" [(ngModel)]="risk" >
      <ion-select-option  *ngFor="let r of risktype">{{r.risk_type}}</ion-select-option>
      
    </ion-select>
  </ion-item>
</div>
<div *ngIf="hide">
  <ion-item>
    <ion-label>policy type</ion-label>
    <ion-select interface="popover" [(ngModel)]="type" >
   
      <ion-select-option *ngFor="let p of policy">{{p.Name}}</ion-select-option>
   
     
    </ion-select>
  </ion-item>
</div>
</ion-card>
<!----<div *ngIf="hideMe">-->
  <div><strong><u>Land details</u></strong></div>
  <ion-item>
      <ion-label>If land is already registered select one</ion-label>
      <ion-select (ionChange)="onClick()" [(ngModel)]="selectland">
          <ion-select-option  *ngFor="let item of data;" value="{{item.land_number}}">{{item.land_number}} </ion-select-option>
      </ion-select>
      <!----<button ion-button full (click)="onClick()">Save</button>-->
  </ion-item>
    <ion-label>If not enter details</ion-label>
    <ion-card>
      <ion-title></ion-title>
      <div *ngIf="hid">
        <ion-item>
          <ion-input type="text" placeholder="Land Name/plot Number" [(ngModel)]="land_num"></ion-input>
      </ion-item>
     
      <ion-item>
        <!-- <ion-input type="text" placeholder="District" [(ngModel)]="district"></ion-input> -->
        <ion-label>District</ion-label>
          <ion-select interface="popover" [(ngModel)]="district"  >
            <ion-select-option >Kegalle</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <!-- <ion-input type="text" placeholder="Gramasewa Division" [(ngModel)]="gramasewa_division"></ion-input> -->
          <ion-label>Gramasewa Division</ion-label>
          <ion-select interface="popover" [(ngModel)]="gramasewa_division" >
            <ion-select-option >Dehiowita</ion-select-option>
            <ion-select-option >ruwanwella</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
            <ion-input type="text" placeholder="Agrarian Service Centre" [(ngModel)]="aib"></ion-input>
          </ion-item>-->
          
        <ion-item>
          <ion-label>Owership</ion-label>
          <ion-select interface="popover" [(ngModel)]="owership"  >
            <ion-select-option >own</ion-select-option>
            <ion-select-option >Rented</ion-select-option>
            <ion-select-option >Leased</ion-select-option>
            
          </ion-select>
        </ion-item>
        <ion-button color="primary"  (click)="location()">Mark the land</ion-button>
        <ion-row>
            <ion-col col-4>
                <ion-button color="primary"  (click)="addlocation()">Add</ion-button>
            </ion-col>
           <ion-col col-4>
              Latitude :<strong>{{l1}}</strong>
           </ion-col>
           <ion-col col-4>
            longitude :<strong>{{l2}}</strong>
          </ion-col >
        </ion-row>
        Address:<ion-input type="text" placeholder="Address"  [(ngModel)]="addr"></ion-input>
      </div>

    </ion-card>
    
  
    <ion-item>
        <ion-input type="text" placeholder="Land Size(Acres)" [(ngModel)]="size"></ion-input>
  </ion-item>
 
 

<ion-item>
  <ion-label fixed>Add Required Documents 
    (copy of applied loan details-[Bank Account details])</ion-label>
  <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
  
</ion-item>
<!-- <div>
  <ion-button expand="small" color='success'  (click)="add()">Submit</ion-button>
</div> -->
<ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let p of photos">
        <img [src]="p"/>
      </ion-col>
    
    </ion-row>
</ion-grid>
<div>
    <ion-button expand="full" color='success'  (click)="submit()">Submit</ion-button>
</div>
  


</ion-content>
