<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <ion-row>
          <!-- <ion-button shape="round" size="small" >crop</ion-button>
          <ion-button shape="round" size="small" >livestock</ion-button> -->
         
      </ion-row>
      <ion-title>Add Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-item>
    <ion-label>Insurance type</ion-label>
    <ion-select interface="popover" [(ngModel)]="selected_value"  >
      <ion-select-option value="p">Indemnity based Comprehensive Crop insurance</ion-select-option>
      <ion-select-option value="b">Weather Index Based Inusrance</ion-select-option>
     
    </ion-select>
  </ion-item>-->

   <ion-item>
      <ion-label>Crop type</ion-label>
      <ion-select interface="popover" [(ngModel)]="crop"  >
        <ion-select-option >paddy</ion-select-option>
        <ion-select-option >Big Onion</ion-select-option>
        <ion-select-option >Maize</ion-select-option>
        <ion-select-option >Potato</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
    
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="YYYY-M-D" min="2020" max="2030" [(ngModel)]="Start_date"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="YYYY-M-D" min="2020" max="2030" [(ngModel)]="End_date" ></ion-datetime>
  </ion-item>
  <div *ngIf="hideMe">
  <ion-item>
    <ion-label>optional policy for</ion-label>
    <ion-select interface="popover" [(ngModel)]="risk" >
      <ion-select-option >emergency fire</ion-select-option>
      <ion-select-option >pest damage</ion-select-option>
      <ion-select-option >insect effect</ion-select-option>
      <ion-select-option >damage by other wild animal </ion-select-option>
    </ion-select>
  </ion-item>
</div>
<div *ngIf="hide">
  <ion-item>
    <ion-label>policy type</ion-label>
    <ion-select interface="popover" [(ngModel)]="type" >
   
      <ion-select-option >Indemnity based comprehensive Crop Insurance</ion-select-option>
      <ion-select-option >Weather Index based Insurance</ion-select-option>
     
    </ion-select>
  </ion-item>
</div>
<!----<div *ngIf="hideMe">-->
  <strong>Land details</strong>
    <ion-item>
      <ion-input type="text" placeholder="Land Name/plot Number" [(ngModel)]="land_num"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Address" [(ngModel)]="address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="District" [(ngModel)]="district"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input type="text" placeholder="Gramasewa Division" [(ngModel)]="gramasewa_division"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Agrarian Service Centre" [(ngModel)]="aib"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Owership</ion-label>
      <ion-select interface="popover" [(ngModel)]="owership"  >
        <ion-select-option >own</ion-select-option>
        <ion-select-option >Rented</ion-select-option>
        <ion-select-option >Leased</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Land Size(Acres)" [(ngModel)]="size"></ion-input>
  </ion-item>
  
 

<ion-item>
  <ion-label fixed>Add Required Documents 
    (loan details,Bank Account number)</ion-label>
  <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
</ion-item>
<!-- <div>
  <ion-button expand="small" color='success'  (click)="add()">Submit</ion-button>
</div> -->
<div>
    <ion-button expand="full" color='success'  (click)="submit()">Submit</ion-button>
</div>

</ion-content>
