<ion-header no-border>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card class="card">
      <div class="vertical-center"> <div class="center"> <ion-img src="/assets/icon/person.png" style="height: 100px;width: 100px;" class="ion-align-self-end"></ion-img> </div> </div>
  <ion-list>
    <div >
      <ion-item>
          <ion-icon name="person" color="success"></ion-icon>
          <ion-input type="text" placeholder=" Username/NIC" [(ngModel)]="NIC"></ion-input>
      </ion-item>

      <ion-item>
          <ion-icon name="lock-closed" color="success"></ion-icon>
          <ion-input type="password" placeholder=" Password" [(ngModel)]="Password"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Position</ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_value" (ionChange)="Getselected(selected_value)" >
          <ion-select-option value="f">Farmer</ion-select-option>
          <ion-select-option value="m">Insurance Company</ion-select-option>
        </ion-select>
      </ion-item> -->
    
      <ion-button expand="full" class="no-padding" (click)="tryLogin()" color="success">Login</ion-button>
    </div>
      <p *ngIf="hide" class="ion-padding info-1">
  
        If you do not have an account,click <span (click)="Register()">Register now</span>
        </p>
        <!-- If you do not have an account,click <span (click)="image()">Register now</span>
        If you do not have an account,click <span (click)="ge()">get</span> -->
    </ion-list>
  </ion-card>

</ion-content>
