.info-1{
    font-size:14px;
    color:#999;
}
.info-1 span{
   
    color:blue;
} 
.vertical-center{ display: flex; align-items: center; justify-content: center;  }
.card{
    align-content: center;
    height:80%
}
.c1{
    align-content: center;
    height:50%;
    width:95%;
    background-color:gainsboro
}
.c2{
    align-content: center;
    height:50%;
    width:95%;
    background-color:gainsboro
}
ion-slide{
    height:50%;
}