<ion-header>
    <ion-toolbar color="success">
            <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
        <ion-title>Applied Claim details</ion-title>
    </ion-toolbar>
</ion-header>


  
<ion-content *ngFor="let d of data">
    <div id="header"><h1>Claim details</h1></div>
  <ion-card class="d1">
    <div *ngIf="hide1">
      <ion-row>
          <ion-col>
            <strong>Reason for reject(Organization)</strong>
          </ion-col>
            <ion-col>
                {{d.organization_reply}}
          </ion-col>
      </ion-row>
    </div>
  
    <div *ngIf="hide2">
      <ion-row>
          <ion-col>
            <strong>Reason for reject(Company)</strong>
          </ion-col>
          <ion-col>
              {{d.company_reply}}
          </ion-col>
      </ion-row>
    </div>

      <ion-row>
          <ion-col>
            <strong>NIC </strong>
          </ion-col>
          <ion-col>
            {{d.NIC}}
            </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col>
             <strong>Policy Number </strong>
          </ion-col>
          <ion-col>
            {{d.policy_number}}
          </ion-col>
      </ion-row>
 
      <ion-row>
          <ion-col>
            <strong>Incident Date</strong>
          </ion-col>
          <ion-col>
            {{d.incident_date| date: 'yyyy/MM/dd'}}
          </ion-col>
      </ion-row> 

      <ion-row>
          <ion-col>
            <strong>Damage by</strong>
          </ion-col>
          <ion-col>
            {{d.type_of_loss}}
          </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col>
            <strong>Bank</strong>
          </ion-col>
          <ion-col>
            {{d.bank_name}}
          </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col>
            <strong>Branch</strong>
          </ion-col>
          <ion-col>
        {{d.branch}}
          </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col>
        <strong>Account Number</strong>
          </ion-col>
          <ion-col>
        {{d.account_number}}
          </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col>
             <strong>Loan Number</strong>
          </ion-col>
          <ion-col>
        {{d.loan_number}}
          </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col>
        <strong>Account Number</strong>
          </ion-col>
          <ion-col>
        {{d.account_number}}
          </ion-col>
      </ion-row> 
  
<div *ngIf="hide3">
    <ion-row>
        <ion-col>
            <strong>Organization Verification</strong>
        </ion-col>
        <ion-col>
            {{verifi}}
        </ion-col>
    </ion-row> 
</div> 
  </ion-card>

  <ion-item class="it1">
      <ion-label>
        Upload photos
      </ion-label>
     <ion-button (click)="show()">View</ion-button>
    </ion-item>
     
  <div *ngIf="hide4">
      <ion-img src="{{d.image}}"></ion-img>
  </div>
</ion-content>
