<ion-header>
  <ion-toolbar color="success"> 
    <ion-title>Policy Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-card-title>Policy1</ion-card-title>
        </ion-item>
      
        <ion-card-content>
          This is about policies and conditions
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-card-title>Policy2</ion-card-title>
          </ion-item>
        
          <ion-card-content>
              This is about policies and conditions
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-title>Policy3</ion-card-title>
            </ion-item>
          
            <ion-card-content>
                This is about policies and conditions
            </ion-card-content>
          </ion-card>
</ion-content>
