<ion-header>
  <ion-toolbar color="success"> 
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Policy Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="go1()">
        <ion-item>
            <ion-img src="/assets/icon/crop.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
          <ion-card-title><strong>Indemnity based comprehensive
                          Crop Insurance</strong>
          </ion-card-title>
        </ion-item>
      
        <ion-card-content>
          Tap To view the Description
        </ion-card-content>
      </ion-card>
      <ion-card (click)="go2()">
          <ion-item>
              <ion-img src="/assets/icon/weather.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
            <ion-card-title><strong>Index base Insurance</strong> </ion-card-title>
          </ion-item>
        
          <ion-card-content>
              Tap To view the Description
          </ion-card-content>
        </ion-card>
        <ion-card (click)="go3()">
            <ion-item>
                <ion-img src="/assets/icon/cow.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
              <ion-card-title><strong>Livestock Insurance</strong></ion-card-title>
            </ion-item>
          
            <ion-card-content>
                Tap To view the Description
            </ion-card-content>
          </ion-card>
</ion-content>
