<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Policy -1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-row>
            <ion-label><strong>Start Date  :</strong>    </ion-label>
            <ion-label><strong>10-09-2020</strong> </ion-label>
        </ion-row>
    </ion-item>
    
    <ion-item>
        <ion-row>
            <ion-label><strong>End Date:</strong> </ion-label>
              <ion-label><strong>10-12-2020</strong></ion-label>
          </ion-row>

    </ion-item>
    <ion-item>
        <ion-row>
            <ion-label><strong>Total Value:</strong> </ion-label>
            <ion-label><strong>40000</strong></ion-label>
      </ion-row> 
    </ion-item>
      
</ion-content>
