<ion-header>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Policy Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let d of data">
    <div id="header"><h1>Policy details</h1></div>
  <ion-card class="d1">
    <ion-row>
      <ion-col>
        NIC
      </ion-col>
      <ion-col>
        {{d.NIC}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Land Number
      </ion-col>
      <ion-col>
        {{d.land_number}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Land Size
      </ion-col>
      <ion-col>
        {{d.Size}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Start Date 
      </ion-col>
      <ion-col>
        {{d.start_date| date: 'yyyy/MM/dd'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        End Date
      </ion-col>
      <ion-col>
        {{d.end_date| date: 'yyyy/MM/dd'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Crop
      </ion-col>
      <ion-col>
        {{d.Crop}}
      </ion-col>
    </ion-row>
    
    <div *ngIf="hid1">
    <ion-row>
        <ion-col>
         Risk Type
        </ion-col>
        <ion-col>
          {{d.risk_type}}
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
        <ion-col>
            Agent Verification
        </ion-col>
        <ion-col>
            {{verifi}}
        </ion-col>
      </ion-row>
  
  </ion-card>
  <ion-item class="ion-margin-bottom">
   <ion-label>Farmer Profile</ion-label>
    <ion-button class="btn1" (click)="farmerProfile()">View </ion-button> 
 </ion-item>
 
  <ion-item class="ion-margin-bottom">
      <ion-label>Upload photos</ion-label>
      <ion-button (click)="viewPhoto()">View </ion-button> 
  </ion-item>

  <div *ngIf="hide1">
      <ion-img src="{{d.documents}}"></ion-img>
  </div>

  <ion-item class="ion-margin-bottom">
    <ion-label>Location</ion-label>
    <ion-button (click)="location()">Viewland</ion-button>
  </ion-item>

  <ion-card>
  
  <ion-item class="ion-margin-bottom">
    <ion-label>Verification</ion-label>
    <ion-select  [(ngModel)]="verification">
      <ion-select-option>Accept</ion-select-option>
      <ion-select-option>Reject</ion-select-option>
    </ion-select>
    
      <ion-button (click)="view()">Submit</ion-button>
    
  </ion-item>

  <div *ngIf="hide">
    <ion-item>
      <ion-label ><strong>Enter Reason:</strong></ion-label>
     <ion-input type="text" [(ngModel)]="issue" ></ion-input>
    </ion-item>
  </div>
  </ion-card>
  <ion-button expand="block" color="success" shape="round" (click)="verify()">confirm</ion-button>
</ion-content>
