<ion-header>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <ion-title>Farmer organization</ion-title>
    <!-- <ion-buttons slot="end">
        <ion-button color="light" (click)="processLogout()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>   -->
  </ion-toolbar>
  <div padding>
      <ion-segment [(ngModel)]="request">
          <ion-segment-button value="summary">
               Requests
          </ion-segment-button>
          <ion-segment-button value="history">
              History
          </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
<div [ngSwitch]="request">
  <ion-list *ngSwitchCase="'summary'">    
   <ion-card color="light" (click)="go()" *ngFor="let d of data">
     <ion-card-title>ClaimRequest -{{d.id}}</ion-card-title>
    <ion-card-content class="si">
     tap to more information
    </ion-card-content>
    <ion-button shape="round"  class="no-padding" (click)="view($event)" id="{{d.id}}" color="secondary">click</ion-button>
  </ion-card>
  </ion-list>
 </div> 

 <div [ngSwitch]="request">
    <ion-list *ngSwitchCase="'history'"> 
      <ion-card color="light" (click)="go()" *ngFor="let d of data1">
  
      <ion-card-title><strong>Claim Request -{{d.id}}</strong></ion-card-title>
        <ion-row>
          <ion-col>
              Loan Number
          </ion-col>
          <ion-col>
              {{d.loan_number}}
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Organization Verification
            </ion-col>
            <ion-col>
                {{verify}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Policy Number
            </ion-col>
            <ion-col>
                {{d.policy_number}}
            </ion-col>
        </ion-row>
     
        <ion-row>
            <ion-col>
                Claim Status
            </ion-col>
            <ion-col>
                {{d.status}}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                Damage type
            </ion-col>
            <ion-col>
                {{d.type_of_loss}}
            </ion-col>
        </ion-row>
        
  </ion-card>
  </ion-list>
  </div>
</ion-content>
