<ion-header>
  <ion-toolbar color="success">
     <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>  -->
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <ion-card>
    <ion-row>   
      <div class="vertical-center"> 
        <div class="center"> 
          <ion-img src="/assets/icon/man.png" style="height: 100px;width: 100px;" class="ion-align-self-end"></ion-img> 
        </div> 
      </div>
     <ion-item>
            <ion-button expand="full" class="no-padding"  (click)="rate()" color="success">Rate User</ion-button>
     </ion-item>
    </ion-row>
    

    <ion-card-content color="light">
      <ion-img src="{{pic}}"  style="height: 300;width: 300;" ></ion-img>
      <div *ngFor="let d1 of data1">
        <ion-row>
          <ion-label><strong>Name  :</strong>    </ion-label>
          <ion-label><strong>{{d1.Name}}</strong> </ion-label>
        </ion-row>
        <ion-row>
          <ion-label><strong>Telephone:</strong> </ion-label>
          <ion-label><strong>{{d1.Phone}}</strong></ion-label>
        </ion-row>
        <ion-row>
          <ion-label><strong>Address:</strong> </ion-label>
          <ion-label><strong>{{d1.Address}}</strong></ion-label>
        </ion-row> 
      </div>
    </ion-card-content>
  </ion-card>

  <div id="header"><h1>Payment details</h1></div>
  <ion-card class="card2" *ngFor="let d2 of data2">
    <ion-header-bar class="bar-stable">
        <h1 class="title"><strong>{{d2.Name}}</strong></h1>
    </ion-header-bar>
    <ion-title>Policy Number :{{d2.id}}</ion-title>
  
   <ion-card>
         <ion-row>
            <ion-label><strong>Total Premium  : {{d2.premium}}</strong></ion-label>
         </ion-row>
         <ion-row>
            <ion-label>Total Paid Amount:{{d2.PaidAmount}}</ion-label>
            <ion-button  class="no-padding" size="small" (click)="Click($event)" id="{{d2.id}}" color="success">Click to update</ion-button>
         </ion-row>
    </ion-card>
   
  </ion-card>
      <div *ngIf="hid">
        <ion-card>
            <strong>Policyid:{{policyid}}</strong><br> 
            <strong>Paid Amount:</strong>
            <ion-input placeholder="" [(ngModel)]="amount"></ion-input>
          <ion-button shape="round" (click)="update()" color="medium">submit</ion-button>
        </ion-card>
          
      </div>
      <div class="center">
        <ion-button class="btn1" shape="round" (click)='show()'>View Policy History</ion-button>
      </div>
      <div class="center">
          <ion-button class="btn1" shape="round" (click)='show1()'>View Claim History</ion-button>
      </div>

      <div *ngIf="hide">
          <ion-card class="card1" *ngFor="let i of data3">
            <ion-item>
              <ion-icon name="albums" slot="start"></ion-icon>
            <ion-title class="c1" size="small"><strong>{{i.Name}}<br>({{i.name}})</strong></ion-title>
            </ion-item>
              <ion-row>
                <ion-col>
                    <strong>Crop type </strong>
                </ion-col>
                <ion-col>
                     {{i.Crop}}
                </ion-col>
              </ion-row>
             
              <ion-row>
                  <ion-col>
                      <strong>Land Number</strong>
                  </ion-col>
                  <ion-col>
                      {{i.land_number}}
                  </ion-col>
              </ion-row>
             
              <ion-row>
                  <ion-col>
                      <strong>status</strong>
                  </ion-col>
                  <ion-col>
                      {{i.status}}
                  </ion-col>
              </ion-row>
              
            </ion-card>
      </div> 
      <div *ngIf="hide2">
          <ion-card class="card1" *ngFor="let d of data4">
              <ion-item>
                <ion-icon name="albums" slot="start"></ion-icon>
                <ion-card-title>Claim Number-{{d.id}}</ion-card-title>
              </ion-item>
              <ion-row>
                  <ion-col>
                      <strong>Policy Number </strong>
                  </ion-col>
                  <ion-col>
                      {{d.policy_number}}
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                        <strong> Claim for </strong>
                  </ion-col>
                  <ion-col>
                      {{d.type_of_loss}}
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                          <strong>Status </strong>
                  </ion-col>
                  <ion-col>
                      Active
                  </ion-col>
              </ion-row>   
          </ion-card>
      </div>
</ion-content>
