<ion-header>
  <ion-toolbar color="success">
      <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <ion-title>Insurance Types</ion-title>
    <ion-buttons slot="start" >
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
  <ion-card color="light" (click)="gopage()">
      <ion-item  class="ion-activated">
          <ion-img src="/assets/icon/doc1.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
          <ion-card-title>Crop Insurance</ion-card-title>
        </ion-item>  
   
    <ion-card-content class="si">
      Insurance for Paddy , Potato , Maize , Big Onion  
    </ion-card-content>
  </ion-card>
<br>
  <ion-card color="light">
      <ion-item  class="ion-activated">
          <ion-img src="/assets/icon/crop.png" style="height: 50px;width: 100px;" slot="start"></ion-img>
          <ion-card-title>General Insurance</ion-card-title>
        </ion-item>  
   
    <ion-card-content class="si">
     
    </ion-card-content>
  </ion-card>
 
</ion-content>
