<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add claims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


<ion-card color="light" (click)="go()">     
  <ion-item  class="ion-activated">
     <ion-card-title>Claim Number-1</ion-card-title>
  </ion-item>
    <ion-card-content >
     Claim for land
    </ion-card-content>
    <ion-button shape="round" color="success">Actived</ion-button>
</ion-card>
<ion-card color="light" (click)="go()">  
  <ion-item  class="ion-activated">
     <ion-card-title>Claim Number-2</ion-card-title>
  </ion-item>
    <ion-card-content >
     Claim for Livestock
    </ion-card-content>
    <ion-button shape="round" color="tertiary">pending</ion-button>
  </ion-card>

  <ion-card color="light" (click)="go()">  
  <ion-item  class="ion-activated">
    <ion-card-title>Claim Number-3</ion-card-title>
 </ion-item>
   <ion-card-content >
    Claim for Livestock
   </ion-card-content>
   <ion-button shape="round" color="warning">Rejected</ion-button>
 </ion-card>

 <div>
  <ion-button expand="full" color='success'  (click)="add()">Add Claim</ion-button>
</div>
</ion-content>
