<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add claims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


 
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
              
      <ion-card color="light" *ngFor="let v of val" >     
            <ion-item  class="ion-activated">
                <ion-card-title>Claim Number-{{v.id}}</ion-card-title>
            </ion-item>
            <ion-card-content> Claim for:{{v.type_of_loss}} <br>
                              Policy number:{{v.policy_number}}
            </ion-card-content>
            <ion-button shape="round" color="tertiary" (click)="view($event)" id="{{v.id}}">{{v.status}}</ion-button>
      </ion-card>
      
      <div>
          <ion-button expand="block" shape="round"  color="success" (click)="add()">Add Claim</ion-button>
      </div>
                
  
</ion-content>
