<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>AAIB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" (click)="go()">
            
      <ion-item  class="ion-activated">
        <ion-icon name="document" slot="start"></ion-icon>
        <ion-card-title>AAIB</ion-card-title>
      </ion-item>
        <ion-card-content>
            Description about AAIB
        </ion-card-content>
     
      </ion-card>
      <ion-card color="light" (click)="forum()">
            
          <ion-item  class="ion-activated">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-card-title>FAQ</ion-card-title>
          </ion-item>
            <ion-card-content>
             answers with FAQ
             
            </ion-card-content>
         
          </ion-card>
  </ion-content>