<ion-header>
  <ion-toolbar color="success">
    <ion-title>Policy details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-button expand="full" class="no-padding"   color="success">Update Policy</ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" class="no-padding"  color="success">Add Policy</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" class="no-padding"   color="success">Delete Policy</ion-button>
          </ion-item>
        </ion-content>