<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add Policies</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-item>
    <ion-label fixed>Images</ion-label>
    <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
</ion-item>
<div>
    <ion-button expand="full" color='danger'  (click)="add()">Submit</ion-button>
</div>
</ion-content> -->

<ion-content>
<ion-item>
  <ion-button expand="full" class="no-padding"   color="success">Policy1</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="full" class="no-padding"  color="success">Policy2</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" class="no-padding"   color="success">Policy3</ion-button>
      </ion-item>
    </ion-content>