<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add Policies</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-item>
    <ion-label fixed>Images</ion-label>
    <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
</ion-item>
<div>
    <ion-button expand="full" color='danger'  (click)="add()">Submit</ion-button>
</div>
</ion-content> -->

<ion-content>
    <ion-card color="light" (click)="go()">     
        <ion-item  class="ion-activated">
           <ion-card-title>Policy Number-1</ion-card-title>
        </ion-item>
          <ion-card-content >
           Livestock insurance
          </ion-card-content>
          <ion-button shape="round" color="success">Actived</ion-button>
      </ion-card>
      <ion-card color="light" (click)="go()">  
        <ion-item  class="ion-activated">
           <ion-card-title>Policy Number-2</ion-card-title>
        </ion-item>
          <ion-card-content >
          crop insurance
          </ion-card-content>
          <ion-button shape="round" color="tertiary">pending</ion-button>
        </ion-card>
      
        <ion-card color="light" (click)="go()">  
        <ion-item  class="ion-activated">
          <ion-card-title>Policy Number-3</ion-card-title>
       </ion-item>
         <ion-card-content >
          Suwasetha health insurance
         </ion-card-content>
         <ion-button shape="round" color="warning">Rejected</ion-button>
       </ion-card>
      
       <div>
        <ion-button expand="full" color='success'  (click)="go()">Add Policy</ion-button>
      </div>


    </ion-content>