<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-item>
    <ion-input type="text" placeholder="Policy Number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label>Incident Date</ion-label>
  <ion-datetime displayFormat="YYYY-MM-DD" min="2020" max="2030" [(ngModel)]="date" ></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Type of loss</ion-label>
  <ion-select  [(ngModel)]="selected_value"  >
      <ion-select-option value="p">flood</ion-select-option>
      <ion-select-option value="b">pest damage</ion-select-option>
      <ion-select-option value="m">Drought</ion-select-option>
      <ion-select-option value="m">damaged by elephants</ion-select-option>
      <ion-select-option value="m">emergency fire</ion-select-option>
      <ion-select-option value="m">insect effect</ion-select-option>
      <ion-select-option value="m">damage by wild animals</ion-select-option>
      <ion-select-option value="m">other natural perils</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Contact number" ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Expected Loss Amount" ></ion-input>
</ion-item>

  <h3>Loan details</h3>
  <ion-item>
  <ion-input type="text" placeholder="Bank Name " ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Branch" ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Account Number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Add Image</ion-label>
  <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
</ion-item>
<div>
  <ion-button expand="full" color='success'  (click)="add()">Submit</ion-button>
</div>

</ion-content>
