<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Incident details</h4>
  <ion-item>
    <ion-input type="text" placeholder="Tag Number" ></ion-input>
</ion-item>
  <ion-item>
    <ion-label>DD MM YY</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Incident Date"></ion-datetime>
  </ion-item>
<ion-item>
    <ion-label>Incident</ion-label>
    <ion-select interface="popover" [(ngModel)]="selected_value"  >
        <ion-select-option value="na">Natural Disasters</ion-select-option>
        <ion-select-option value="We">Wild Elephant threat</ion-select-option>
        <ion-select-option value="fi">Fire</ion-select-option>
        <ion-select-option value="pd">Pest Damage</ion-select-option>
        <ion-select-option value="ie">Insect effect</ion-select-option>
    </ion-select>
  </ion-item>
<ion-item>
  <ion-input type="text" placeholder="Contact number" ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Expected Loss Amount" ></ion-input>
</ion-item>

  <h4>Loan details</h4>
  <ion-item>
  <ion-input type="text" placeholder="Bank Name " ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Branch" ></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Account Number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Add Image</ion-label>
  <ion-button color="primary"  (click)="presentActionSheet()">Take picture</ion-button>
</ion-item>
<div>
  <ion-button expand="full" color='danger'  (click)="add()">Submit</ion-button>
</div>

</ion-content>
