<ion-header>
  <ion-toolbar color="success">
    
    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>Hi Kamal</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" (click)="go()">
          
    <ion-item  class="ion-activated">
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-card-title>Insurances Details</ion-card-title>
    </ion-item>
      <ion-card-content>
        Know more details about your insuraces policies
      </ion-card-content>
   
    </ion-card>
    <ion-card color="light" (click)="forum()">
          
        <ion-item  class="ion-activated">
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-card-title>Discussion Forum</ion-card-title>
        </ion-item>
          <ion-card-content>
           discussions your issues
          </ion-card-content>
       
        </ion-card>
</ion-content>
