.card {
    background-color:rgb(243, 236, 222);
    box-shadow: none;
}
.te{
    color: brown;
    font-size: medium; 
}
.am{
    color: rgb(199, 156, 15);
    font-family: Arial, Helvetica, sans-serif
   
}
.si{
    font-size: medium
}
