<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
    <ion-title>Hi {{name}}</ion-title>
    <ion-buttons slot="start" >
        <ion-back-button></ion-back-button>
      </ion-buttons>
     <!-- <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>  -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
            
 
  <ion-card color="light" (click)="go()" >
      <ion-item  class="ion-activated">
        <ion-img src="/assets/icon/doc1.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
        <ion-card-title>Insurances Details</ion-card-title>
      </ion-item>
        <ion-card-content class="si">
        Know more details about insurances 
        </ion-card-content>
  </ion-card>

  <ion-card color="light" (click)="forum()">
     <ion-item  class="ion-activated">
        <ion-img src="/assets/icon/forum.png"  style="height: 50px;width: 100px;" slot="start"></ion-img>
        <ion-card-title>Discussion Forum</ion-card-title>
     </ion-item>
        <ion-card-content class="si">
            discuss your issues
        </ion-card-content>
  </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card class="card" *ngFor=" let d of data; let i=index" >
                <h1  >Policy Number-{{d.id}}</h1>
                <ion-img src="/assets/icon/cal.png"  style="height: 50px;width: 100px;"></ion-img>
                    <!----<p>Next Payment : <strong class="te">January 20 2021 </strong>
                      <strong class="am"> Total amount to pay:4000</strong>
                    
                    </p>-->
                <strong >Total premium : {{d.premium}}</strong><br>
                <strong >Amount to be paid: {{amount[i]}}</strong>
            </ion-card>
               
        </ion-col>
      </ion-row> 
    </ion-grid> 
</ion-content>
