<ion-header>
    <ion-toolbar color="success">
       
      <ion-title>Summary of Applied Insurance </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
          <ion-card-header>
              Estimate amount for Active insurances
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas1></canvas>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            Number of Active Claims
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas2></canvas>
          </ion-card-content>
        </ion-card>
      </div>  
</ion-content>
