<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> -->
  <ion-title>Policy History</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

    <div class="ion-padding">
    <ion-card>
      <ion-card-header>
       Applied All Insurances
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas ></canvas>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
    <ion-card>
      <ion-card-header>
          The Estimate amount for Active insurances
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas2 ></canvas>
      </ion-card-content>
    </ion-card>
   </div> 
  
   
    <!-- <ion-card color="light" (click)="go()" *ngFor="let d of data">
   
      <ion-card-title>PolicyRequest -{{d.id}}</ion-card-title>
        
        <ion-item>
            <ion-label>Crop:{{d.Crop}}</ion-label> 
        </ion-item>
        <ion-item>
            <ion-label>Agent Verification:{{d.agent_verification}}</ion-label> 
        </ion-item>
        <ion-item>
            <ion-label>Land Number:{{d.land_number}}</ion-label> 
        </ion-item>
        <ion-item>
            <ion-label>Policy Status:{{d.status}}</ion-label> 
        </ion-item>
      
      </ion-card> -->
  
</ion-content>
